### 카이제곱 교차검증
- 두 범주형 변수가 서로 독립적인지 검정

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('./datas/성별에따른만족도.csv', encoding='euc-kr')
df.head()

   만족도  성별
0  불만족  남성
1   보통  여성
2  불만족  여성
3   보통  남성
4   만족  여성

### 실제값 교차 테이블 생성

In [5]:
cross_table = pd.crosstab(df['만족도'], df['성별'])
cross_table

성별   남성  여성
만족도
만족   50  40
보통   40  30
불만족  10  30

In [6]:
obs = cross_table.values
obs

array([[50, 40],
       [40, 30],
       [10, 30]], dtype=int64)

In [7]:
from scipy.stats import *
statistics, pvalue, dof, expected = chi2_contingency(obs)
print(pvalue)

0.001892528960792166

In [8]:
statistics, dof, expected

(12.53968253968254,
 2,
 array([[45., 45.],
        [35., 35.],
        [20., 20.]]))

### 기대값
- 두 변수가 독립하다는 가정 하에 각 셀의 빈도가 어떻게 될 것인지 예측하는 값

In [11]:
pd.DataFrame(expected, columns=cross_table.columns, index=cross_table.index)

성별     남성    여성
만족도
만족   45.0  45.0
보통   35.0  35.0
불만족  20.0  20.0